<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink href="/historical" class="nav-link" Match="NavLinkMatch.All">
            📊 Ιστορικά Στατιστικά
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink href="/live" class="nav-link">
            🔴 Live View
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink href="/tickets" class="nav-link">
            🎫 Individual Tickets
        </NavLink>
    </li>
</ul>
